/* CSS for the Splash Page */
body {
    background-color: #555;
    display: flex;
    font-family: 'Delius Unicase';
}

a {
    color: white;
    text-decoration: none;
}

#gamePlaceholder {
    margin: 60px;
    width: 1024px;
    height: 768px;
    background-color: #254952;
    border: 5px solid lightgray;
    text-align: center;
    font-size: 32px;
    display: flex;
    justify-content: center;
    place-items: center;
    transition: 500ms;
} #gamePlaceholder:hover {background-color: #2f5e69;}

#keyboardGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;

}

.key {
    margin: 5px;
    padding-top: 20px;
    border-radius: 30px;
    width: 150px;
    height: 120px;
    border: 5px solid black;
    color: black;
    background-color: lightgray;
    transition: 500ms;
} .key:hover {background-color: #dc5432;}

.wide {
    width: 300px;
    height: 120px;
}

#up {grid-column: 3; grid-row: 3;} #left {grid-column: 2; grid-row: 4;} 
#down {grid-column: 3; grid-row: 4;} #right {grid-column: 4; grid-row: 4;} 
#ctrl {grid-column: 1; grid-row: 4; margin-right: 15px;} #nope{color:lightgray}

#spacer {
    color: #dc5432;
    grid-column: 1 / 5; 
    grid-row: 2; 
    height: 120px;
}

#playGame {
    grid-column: 1 / 5; 
    grid-row: 1;
    margin: 5px;
    height: 100px;
    font-size: 70px;
    text-shadow: 5px 5px rgb(49, 49, 49);
}

/* CSS for the Game */
p {
    color: rgb(182, 209, 62);
    width: 300px;
    font-size: 18px;
    margin-top: 60px;
}

canvas {
    margin: 60px;
    width: 1024px;
    height: 768px;
    background-color: rgb(182, 209, 62);
    border: 5px solid lightgray;
}